/* Header */

.header {
  display: flex;
  align-items: center;
  padding: 8px 32px 8px 16px;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: #ffffff;
}

.header__block--right {
  display: flex;
  align-items: center;
}

/* Humburger  */

.hamburger {
  margin-right: 16px;
}

.hamburger__action {
  position: relative;
  width: 24px;
  height: 24px;
  padding: 6px 4px;
}

.hamburger__item {
  display: block;
  width: 100%;
  height: 1px;
  background: #000000;
  margin-top: 4px;
  margin-bottom: 4px;
}

.hamburger__item::before,
.hamburger__item::after {
  content: "";
  display: block;
  position: absolute;
  left: 4px;
  width: calc(100% - 8px);
  height: 1px;
  background-color: #000000;
}

.hamburger__item::before {
  top: 6px;
}

.hamburger__item::after {
  bottom: 6px;
}

/* Search  */

.search {
  max-width: 574px;
  width: 100%;
  margin: 0 auto;
}

.search__form {
  display: flex;
  align-items: center;
  flex: 1 1 100%;
}

.search__input {
  width: calc(100% - 94px);
  height: 32px;
  background: #ffffff;
  border: 1px solid #cccccc;
  border-right: 0;
  border-radius: 1px 0px 0px 1px;
  padding-left: 12px;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #888888;
}

.search__button--search {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 4px 16px;
  background: #f8f8f8;
  border: 1px solid #cccccc;
  border-radius: 0px 1px 1px 0px;
  max-width: 52px;
  width: 100%;
  height: 32px;
  margin-right: 8px;
}

.search__button--voice {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 32px;
  width: 100%;
  height: 32px;
  background: #f9f9f9;
  border-radius: 20px;
}

/* Menu action  */

.menu-user-action {
  margin-right: 24px;
}

.menu-user-action__list {
  display: flex;
  align-items: center;
}

.menu-user-action__item:not(:last-child) {
  margin-right: 20px;
}

.menu-user-link,
.menu-user-profile {
  display: block;
  line-height: 0;
}

/* Side Bar  */

.sidebar {
  max-width: 196px;
  width: 100%;
  height: calc(100vh - 48px);
  overflow-y: scroll;
  padding-top: 12px;
  position: sticky;
  top: 48px;
  left: 0px;
}

.sidebar::-webkit-scrollbar {
  width: 6px;
}

.sidebar::-webkit-scrollbar-thumb {
  background-color: #909090;
  border-radius: 20px;
}

/* Menu Group  */

.menu-group__title {
  font-weight: bold;
  font-size: 12px;
  line-height: 14px;
  text-transform: uppercase;
  color: #636363;
  padding-left: 12px;
  margin: 0 0 8px;
}

.menu-group:not(:last-child) {
  border-bottom: 1px solid #cccccc;
  padding-bottom: 12px;
  margin-bottom: 12px;
}

.menu-group__link {
  display: flex;
  align-items: center;
  padding: 6px 12px;
}

.menu-group__link--active {
  background-color: #d9d9d9;
}

.menu-group__icon {
  margin-right: 16px;
}

.menu-group__text {
  display: block;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  color: #000000;
}

.menu-group__link--active .menu-group__text {
  font-weight: 500;
}

.menu-group__alert {
  display: block;
  width: 4px;
  height: 4px;
  background-color: #065fd4;
  border-radius: 100px;
  margin-left: auto;
}

/* Main content  */

.main {
  display: flex;
}

.main-content {
  width: calc(100% - 196px);
}

.categories {
  padding: 12px 20px;
  border-top: 1px solid #e8e8e8;
  border-bottom: 1px solid #e8e8e8;
  position: sticky;
  top: 48px;
  left: 196px;
  z-index: 50;
  background-color: #ffffff;
}

.categories__list {
  display: flex;
  gap: 0 10px;
}

.categories__button {
  padding: 6px 12px;
  background: #f2f2f2;
  border: 0.5px solid #d9d9d9;
  border-radius: 16px;
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  white-space: nowrap;
}

.categories__button--active,
.categories__button:hover {
  background-color: #000000;
  color: #ffffff;
  border-color: #000000;
}

/* Banner  */

.banner {
  position: relative;
  margin-bottom: 48px;
}

.banner__image {
  width: 100%;
}

.banner__info {
  position: absolute;
  top: calc(50% - 12px);
  left: 20px;
  transform: translateY(-50%);
}

.banner__logo {
  margin-bottom: 16px;
}

.banner__title {
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 26px;
  line-height: 31px;
  display: flex;
  align-items: center;
  margin-bottom: 16px;
  max-width: 330px;
}

.banner__link {
  display: inline-block;
  padding: 8.5px 16px;
  border: 1.5px solid #065fd4;
  box-sizing: border-box;
  border-radius: 2px;
  font-weight: 600;
  font-size: 12px;
  line-height: 14px;
  text-transform: uppercase;
  color: #065fd4;
}

.banner__close {
  position: absolute;
  right: 45px;
  top: calc(50% - 74px);
  transform: translateY(-50%);
}

/* Gallery  */

.gallery {
  padding: 0 28px 48px 20px;
}

.gallery__list {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 36px 12px;
}

.gallery__item {
  width: calc(25% - 9px);
}

.gallery-video__thumb {
  position: relative;
  line-height: 0;
  margin-bottom: 10px;
}

.gallery-video__image {
  width: 100%;
}

.gallery-video__time {
  position: absolute;
  right: 4px;
  bottom: 4px;
  font-weight: 500;
  font-size: 10px;
  line-height: 12px;
  text-align: center;
  color: #ffffff;
  padding: 2px 4px;
}

.gallery-video__info {
  display: flex;
  align-items: flex-start;
}

.gallery-video__block--left {
  margin-right: 12px;
  line-height: 0;
}

.gallery-video__name {
  display: block;
  font-weight: bold;
  font-size: 13px;
  line-height: 18px;
  display: flex;
  align-items: center;
  color: #000000;
  margin-bottom: 6px;
}

.gallery-video__name-user {
  /* display: block; */
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  display: flex;
  align-items: center;
  color: #727272;
  margin-bottom: 4px;
}

.gallery-video__icon--check {
  margin-left:6px;
  line-height: 0;
}

.gallery-video__text {
  display: block;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  color: #727272;
}
